*{
  
    box-sizing: border-box;

}
.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white
  
}
.header {
    margin-left: 30px;
    font-size: 20px;
}
.menu ul{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
.menu ul li{
    margin-left: 20px;
    list-style-type: none;
}
.menu ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.background{
    background-image: url(../assets/architect.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
   background-position: center;

}
.background b{
    width: 100px;
    height: 100px;
    background-color: black;
    opacity: .7;
    color: white;

}
.text {
    font-size: 30px;
    color: white;
    width: 100%;
    height: 100%;
display:flex;
justify-content: center;
align-items: center;
}
.project h2{

    margin-top: 50px;
    margin-left: 50px;
   
}
.photos{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  
}
.photos div{
    width: 24%;
    margin-left: 10px;
   
}
.photos div img{
width:100%;
height: auto;


}


.houses{
    position: relative;

}
.houses p{
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}
div.names p{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width:120px;
    height: 35px;
    margin: 0;
}
.about{
    margin-top: 30px;
    font-size: 25px;
    
}
.about h3{
    font-weight: normal;
}
.About-photo{
   
    width: 24%;
    height: 30%;
}
.About-photo h2,h4{
    font-weight: normal;
}
.About-photo img{
    width: 100%;
    height: 100%;
}
.About-head{
    display: flex;
    justify-content: space-between;
}
.section-three{
    padding: 10px;
}
.About-photo button:hover{
    background-color: rgb(184, 184, 184);
   
}
.contact{
    padding: 20px;
}
.contact-head{
    font-size: 25px;
    margin-top: 30px;

}
.contact h3{
    font-weight: normal;
}
.inputs{
    width: 100%;
    text-align: center;
}
.inputs input{
width:100% ;
height: 50px;
margin-top: 15px;
border: 1px solid rgb(203, 200, 200) ;


}
.contact-button button{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    background-color: black;
    color: white;
}

